@import "tailwindcss";

@layer base {
  html,
  body {
    @apply text-sm accent-amber-300 bg-zinc-900 text-zinc-50 overflow-auto;
    background: linear-gradient(to bottom right, #09342f, #2e1f3a, #0a0a0f 120%);
  }

  * {
    scrollbar-color: #1f6b63 #0a0a0f;
  }

  ::selection {
    @apply bg-amber-300 text-zinc-800;
  }

  :disabled {
    @apply opacity-25 cursor-not-allowed;
  }

  :invalid {
    @apply outline-rose-500!;
  }

  button {
    @apply btn-base;
  }

  input[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  input[type="range"] {
    @apply flex-1 h-3 rounded-full bg-gray-700 appearance-none cursor-pointer;

    &::-webkit-slider-thumb {
      @apply w-6 h-6 rounded-full bg-blue-500 cursor-pointer transition-colors;
      appearance: none;
      margin-top: -0.75rem;
    }

    &::-webkit-slider-thumb:hover {
      @apply bg-blue-400;
    }

    &::-moz-range-thumb {
      @apply w-6 h-6 rounded-full bg-blue-500 cursor-pointer;
      border: 0;
    }

    &::-moz-range-track {
      @apply h-3 rounded-full bg-gray-700;
    }
  }

  input[type="checkbox"] {
    @apply w-6 h-6 rounded cursor-pointer border-gray-400 border-2 bg-white transition-colors;

    padding: 0.25rem;
  }

  input[type="checkbox"]:checked {
    @apply bg-blue-500 border-blue-500;
  }

  input[type="checkbox"]:hover,
  input[type="checkbox"]:focus {
    @apply ring-2 ring-blue-300 outline-none;
  }

  input[type="checkbox"]:disabled {
    @apply bg-gray-200 border-gray-300 cursor-not-allowed;
  }
}

@utility btn-base {
  @apply text-center disabled:opacity-50 disabled:bg-zinc-500! disabled:cursor-not-allowed;
  @apply cursor-pointer rounded-lg font-medium transition-colors;

  &:not(.compact) {
    @apply p-2;
  }

  &.primary {
    @apply bg-sky-600 hover:bg-sky-700 text-white;
  }

  &.secondary {
    @apply bg-slate-600 hover:bg-slate-700 text-white;
  }

  &.ok {
    @apply bg-emerald-600 hover:bg-emerald-700 text-white;
  }

  &.danger {
    @apply bg-red-400 hover:bg-red-500 text-white;
  }
}

@utility text-bg {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
