name: Publish Release

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git
        run: |
          git config --global user.email "cuentafrst@gmail.com"
          git config --global user.name "Armando"

      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install Dependencies and Binaries
        run: |
          sudo apt-get update && sudo apt-get install -y libarchive-tools curl
          npm ci

          mkdir -p $HOME/bin

          curl -L https://github.com/tailwindlabs/tailwindcss/releases/download/v4.1.17/tailwindcss-linux-x64 -o $HOME/bin/tailwindcss
          chmod +x $HOME/bin/tailwindcss

          curl -fsSL https://esbuild.github.io/dl/v0.27.0 | sh
          mv esbuild $HOME/bin/esbuild

          echo "$HOME/bin" >> $GITHUB_PATH

      - name: Build Extension
        run: npm run build

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: Dark Mode v${{ github.run_number }}
          draft: false
          prerelease: false

      - name: Upload XPI to Artifact
        id: upload_xpi
        uses: actions/upload-artifact@v4
        with:
          name: dark-mode.xpi
          path: dist/dark-mode.xpi

      - name: Attach XPI to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/dark-mode.xpi
          asset_name: dark-mode.xpi
          asset_content_type: application/zip
