name: Publish Release

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Set up Git
        run: |
          git config --global user.email "cuentafrst@gmail.com"
          git config --global user.name "Armando"

      - name: Check out repository
        uses: actions/checkout@v3

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: NPM Build
        run: |
          npm i
          npm run build

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ github.run_number }}
          release_name: Dark Mode v${{ github.run_number }}
          draft: false
          prerelease: false

      - name: Upload XPI to Release
        id: upload_xpi
        uses: actions/upload-artifact@v4
        with:
          name: dark-mode.xpi
          path: dist/dark-mode.xpi

      - name: Attach XPI to Release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: dist/dark-mode.xpi
          asset_name: dark-mode.xpi
          asset_content_type: application/zip
